@model TekaTeknikMVC.Payments


@{
    ViewBag.Title = "PaymentAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<form class="form-group" method="post">


    @Html.HiddenFor(x => x.EmployeeId, new { @class = "form-control" })
   
    <b>Ödeme Tutarı</b>
    <br />
    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control"})
    <b>Ödeme Tipi</b>
    <br />
    @Html.TextBoxFor(x => x.PaymentType, new { @class = "form-control"})
    <br />
    <b>Ödeme Tarihi</b>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control", type = "date" })
    <br />
    <b>Ödeme Yılı</b>
    @Html.TextBoxFor(x => x.Year, new { @class = "form-control" })
    <br />
    <b>Ödeme Ayı</b>
    @Html.TextBoxFor(x => x.Month, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Ödeme Ekle</button>
</form>


